.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 40px;
    /* padding: 10px 20px; */
    place-items: center;
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    justify-items: start;
    /* justify-self: space-between; */
    /* align-self: space-between; */
}
.techList{list-style-type: decimal;}

.ceo {
  padding: 0 auto;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  align-self: center; 
  /* justify-content: center; */
  /* max-height: 200px; */
  /* max-width: 200px; */
}
.img{
    width: 100%;
     border-radius: 20px;
}

.sideContent{
  max-width: 70%;
  padding: 10 auto;
  margin: 0 auto;
}

.note{
    margin: auto 20px;
}

.btn a{
  color:  #fff;
  
}



.btn{
  width: 150px;
  height: 37px;
  background-color: rgb(6, 116, 143);
  color:  #fff;
  font-size: 1.5rem;
  display: inline-block;
  padding: 15px, 17px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
   cursor: pointer;
  transition: transform 0.5s ease-in-out, opacity 400ms linera;
}

.btn :hover{
  color:   rgb(6, 116, 143);
  background-color:  #fff;
  width: 150px;
  height: 37px;
  font-size: 1.5rem;
  padding: 15px, 17px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: rgb(6, 116, 143);
  border-width: 2px;
  cursor: pointer;
  /* transform: scale(1.1); */
  opacity: .8;
  transition: 0.5s ease;

}

@media(max-width: 700px) {
    .content{
      grid-template-columns: repeat(1, 1fr);
      padding: auto;
       grid-gap: 30px 0px;
    }
  }
  
  
  @media(max-width: 500px) {
    .content{
      grid-template-columns: repeat(1, 1fr);
    }
  }