@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap');


$background1: #eff4f9;
$primaryColor: #022044;
$fontColor: #292d32;
$bigFontColor: #404346;
$fontFamily: 'Roboto', sans-serif;