@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap');

// ? Colors
$background1: #eff4f9;
$primaryColor: #022044;
$fontColor: #292d32;
$bigFontColor: #404346;
$fontFamily: 'Roboto', sans-serif;


$fontWeight: (
    'regular': 300,
    'medium': 500,
    'semi-bold': 700,
    'bold': 800
);

@function f-weight($weightName){
    @return map-get($fontWeight, $weightName);
}

$fontSize: (
    'large': 5.5rem,
    'medium': 4.5rem,
    'small': 3rem
);

@function f-size($font-size){
    @return map-get($fontSize, $font-size);
}