@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap");

@import "reset";
@import "variables";
@import "colors";
@import "mixins";
@import "screensize";
@import "layouts";
@import "typos";
@import "buttons";
@import "landing";
@import "package";
@import "courses";
@import "markdown";
@import "books_list";
@import "admin";
@import "admin_products";
@import "objective";

:root {
  --fontFamily: "Roboto", sans-serif;
  /* --fontFamily: "Space Grotesk, sans-serif", */
}

body {
  font-family: var(--fontFamily);
}

.card {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  &:hover {
    box-shadow: 0 5px 10px rgba(1, 121, 177, 0.759);
  }
}

.flex {
  display: flex;
}

.px-2 {
  padding: 0 20px;
}
